@import "./variables.css";

.OtherPlayer {
  display: inline-block;
  min-height: 150px;
  width: 100%;
  padding: var(--rhythm);
}
.OtherPlayer__Name {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--box-radius);
  margin: var(--rhythm);
  padding: var(--rhythm);
  text-align: center;
  display: inline-block;
}
.OtherPlayer__TricksContainer {
}
.OtherPlayer__HandContainer {
  position: relative;
  display: inline-block;
  height: calc(var(--size-card-height) / 2);
  width: calc(var(--size-card-width) / 2);
}
.OtherPlayer__HandSize {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transform-origin: center center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--box-radius);
  z-index: 55;
  padding: 3px;
}
.OtherPlayer__HandCard {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0.5);
  transform-origin: top left;
}
