.Tricks__Trick {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.Tricks__TrickCardContainer {
  position: relative;
  display: inline-block;
  height: calc(var(--size-card-height) / 2);
  width: calc(var(--size-card-width) / 2);
}
.Tricks__TrickCardContainer:not(:last-child) {
  width: 8px;
}
.Tricks__TrickCardContainer .card {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0.5);
  transform-origin: top left;
}
